@tailwind base;
@tailwind components;
@tailwind utilities;



root {
  --radius: 12px
}

.btn-gradient {
  background: linear-gradient(180deg, #00aaff 0%, #0066cc 100%);
  transition: background 0.3s ease;
}

/* Green Gradient */
.btn-gradient-green {
  background: linear-gradient(180deg, #03c634 0%, #009300 100%);
  transition: background 0.3s ease;
}

/* Red Gradient */
.btn-gradient-red {
  background: linear-gradient(180deg, #ff4d4d 0%, #cc0000 100%);
  transition: background 0.3s ease;
}